.App {
  text-align: center;
}

.btnHandler {
  background-color: #2a6ebb;
  outline: none;
  color: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #2a6ebb;
  box-shadow: 2px 3px 6px #ccc;
  font-size: 19px;
}

.btnHandler:hover {
  background-color: #fcfcfc;
  color: #2a6ebb;
  font-size: 20px;
}
